.Login {
  width: 48%;
  padding-left: 15px;
  padding-right: 60px;

  .title {
    font-size: 28px;
    padding-top: 25px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100px;
      height: 2px;
      background: #fed700;
    }
  }

  .desc {
    margin-bottom: 25px;
  }

  .ant-form {
    .ant-form-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .ant-form-item-label {
      text-align: left;
    }

    .ant-form-item-required:before {
      display: none !important;
    }

    label {
      font-weight: bold;
      margin-bottom: 10px;

      &:after {
        display: none;
      }
    }

    input {
      padding: 10px 15px;
      border-radius: 20px;
    }

    .ant-input-password {
      padding: 10px 15px;
      border-radius: 20px;

      input {
        padding: 0;
        border-radius: 0;
      }
    }

    .ant-input-suffix {
      display: none !important;
    }

    .remember {
      margin-bottom: 0;
    }

    .btn-login {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      width: 110px;
      height: 42px;
      font-weight: bold;
      background: #efecec;
      border: 0;
      transition: all 0.3s;
      margin-bottom: 20px;

      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
